<!--templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home - Flask Notes{% endblcock title %}

{% block content %}
<h1>My Notes</h1>

{% if notes %}
    {% for note in notes %}
        <div class="note-card">
            <h2>{{ note.title }}</h2>
            <p>Created : {{ note.created_at }}</p>
            <a href ="{{ url_for('view_note', note_id=note_id) }}"></a>
        </div>
    {% endfor %}
{% else %}
        <p>No notes yet. <a href="{{ url_for('add_note' )}}"> Add your first note!</a></p>
{% endif %}
{% endblock content %}
